<div id="sidebar">
  <header>
    <img class="me transition" src="../assets/images/me-square.jpg" />
    <h1 class="site-title">
      <a href="{{ "/" | relative_url }}">
        {% if page.url == "/" %}
        {{ site.title }}
        {% else %}
        <span class="back-arrow icon">{% include svg/back-arrow.svg %}</span> Home
        {% endif %}
      </a>
    </h1>
    <p class="lead">{{ site.description }}</p>
  </header>
  {% include sidebar-nav-links.html %}

  {% if site.version %}
  <span class="site-version">Currently v{{ site.version }}</span>
  {% endif %}
  <div class="sidebar-icons">
    <a aria-label="Link to my GitHub" href="https://github.com/kaitlynmcgoldrick">
      <i class="fab fa-github-square"></i>
    </a>
    <a aria-label="Link to my LinkedIn" href="https://www.linkedin.com/in/kaitlynmcgoldrick1/">
      <i class="fab fa-linkedin"></i>
    </a>
  </div>
  <!-- {% include copyright.html %} -->
</div>